.add-option {
   padding: 10px;
}

#add-option-text {
   background: #515461;
   border: none;
   height: 40px;
   width: 80%;
   padding: 5px;
}

.add-option-button {
   border: none;
   height: 50px;
   width: 18%;
   padding: 5px;
   font-size: 105%;
   color: white;
   font-weight: bold;
}