// widget header
//blueviolet

.widget-header {
   margin-top: 10px;
   background-color: indigo;
   padding: 3px 10px;
   display: flex;
   justify-content: space-between;
   font-weight: bold;
}

.header-text {
   font-weight: bold;
   font-size: 140%;
   color: azure;
}

.widget {
   background: #464b5e;
   box-shadow: 0 1px 1px rgb(37, 32, 32);
}

.widget__message {
   margin: 0;
   padding: 20px 0;
   text-align: center;
   border-bottom: 1px solid grey;
   font-size: 110%;
   font-weight: 600;
   color: antiquewhite;
}
